{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Онлайн калькулятор личных расходов</title>
</head>
<body>
    <p><center>It works!</center></p>
    <a href="http://127.0.0.1:8000/admin"><center>Перейти в админ-панель</center></a>
    <p></p>
    <a href="http://127.0.0.1:8000/blog"><center>Перейти в блог</center></a>
    <p></p>
    <a href="http://127.0.0.1:8000/spend"><center>Перейти в spend</center></a>
    <p>{{ posts }}</p>

</body>
</html>